@import "bootstrap/dist/css/bootstrap.min.css";

.container{
    background: green;
    justify-items: center;
    height: auto;
}

.card{ 
    height: 500px;
    width: 350px;
    font-size: 100px;
    font-family: serif;
    border-radius: 5%;
}
#cardNumber{ 
    text-align: center;
    font-size: 130px;
}
#bottom{
    display: flex;
    float: right;
    transform: rotate(180deg);
}